.top-panel {
  display: flex;
  margin: 40px 120px;
  padding-bottom: 32px;
  justify-content: space-between;
}

.logo:hover {
  cursor: pointer;
  transition: filter 0.3s ease;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 20px;
  font-weight: 400;
}

.fake {
  width: 136px;
}

.nav-links a {
  color: #f5efff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
  position: relative;
}

.nav-links a:hover,
.nav-links a.active {
  color: #e85102;
}

.slash {
  width: 14px;
  height: 35px;
  color: #d0d0d0;
}

@media (max-width: 768px) {
  .top-panel {
    display: flex;
    margin-left: 20px;
    margin-top: 48px;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
  }
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: white;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.hamburger.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.is-active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.is-active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile-menu {
  position: absolute;
  top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}

.text-mobile {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  margin-bottom: 32px;
  cursor: pointer;
}

