<nav class="top-panel">

  <img ngSrc="CU-ONE.svg" alt="Logo" width="136" height="35" class="logo" priority routerLink="/">

  @if (screenWidth() > 768) {
    <div class="nav-links">
      <a routerLink="/portfolio" routerLinkActive="active">Portfolio</a>
      <svg class="slash" viewBox="0 0 10 20" aria-hidden="true">
        <line x1="2" y1="60" x2="8" y2="2"
              stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/>
      </svg>
      <a routerLink="/contacts" routerLinkActive="active">Contacts</a>
    </div>
  } @else {
    <button class="hamburger"
            [class.is-active]="isMenuOpen()"
            (click)="toggleMenu()"
            aria-label="Toggle menu">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
  }

</nav>

@if (isMenuOpen()) {
  <nav class="mobile-menu">
    <a routerLink="/portfolio" routerLinkActive="active" class="text-mobile mt-24">Portfolio</a>
    <a routerLink="/contacts" routerLinkActive="active" class="text-mobile">Contacts</a>
  </nav>
}
