<footer class="footer-container">
  <div class="footer-headers-container grid-3-cols">

    <div class="col col-1">
      <img
        alt="Logo" width="136" height="35" class="logo" priority routerLink="/"
        [src]="isHovered ? 'public/logo_orange.svg' : 'public/CU-ONE.svg'"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
      />
    </div>

    <div class="col col-2">
      <div class="footer-text semi-bold header-text">Follow</div>
      <div class="ig-container">
        <img src="public/ig_juodas.svg" alt="" class="icon ig-icon" width="24" height="24">
        <a class="footer-text medium regular-text ig-text" href="https://www.instagram.com/cu.one.studio/" target=”_blank”>cu.one.studio</a>
      </div>
    </div>

    <div class="col col-3">
      <a class="footer-text semi-bold header-text contacts-text" href="/cuone/contacts">Contact</a>
      <div class="footer-text medium regular-text">cuone.studio&#64;gmail.com</div>
    </div>

    <div class="footer-text copyright">
      ©2026
    </div>
  </div>
</footer>
