<footer class="footer-container">
  <div class="footer-headers-container grid-3-cols">

    <div class="col col-1">
      <img ngSrc="CU-ONE.svg" alt="Logo" width="136" height="35" class="logo" priority routerLink="/">
    </div>

    <div class="col col-2">
      <div class="footer-text semi-bold fs-32">Follow</div>
      <div class="footer-text medium fs-24">kipras_design</div>
    </div>

    <div class="col col-3">
      <div class="footer-text semi-bold fs-32">Contact</div>
      <div class="footer-text medium fs-24">kipras.maigys18&#64;gmail.com</div>
      <div class="footer-text medium fs-24">+370 (674) 82 436</div>
    </div>
  </div>
</footer>
