<footer class="footer-container">
  <div class="footer-headers-container grid-3-cols">

    <div class="col col-1">
      <img
        alt="Logo" width="136" height="35" class="logo" priority routerLink="/"
        [src]="isHovered ? 'public/logo_orange.svg' : 'public/CU-ONE.svg'"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
      />
    </div>

    <div class="col col-2">
      <div class="footer-text semi-bold header-text">Follow</div>
      <div class="footer-text medium regular-text">kipras_design</div>
    </div>

    <div class="col col-3">
      <div class="footer-text semi-bold header-text">Contact</div>
      <div class="footer-text medium regular-text">kipras.maigys18&#64;gmail.com</div>
    </div>
  </div>
</footer>
