.logo {
  filter: invert(100%) sepia(0%) saturate(7482%) hue-rotate(176deg) brightness(109%) contrast(98%);
}

.logo:hover {
  filter: invert(34%) sepia(80%) saturate(2663%) hue-rotate(9deg) brightness(96%) contrast(104%);
}

.footer-container {
  background: linear-gradient(180deg, #FFEAE0 0%, #E85102 66.83%, #501C00 100%);
}

.footer-headers-container {
  display: flex;
  justify-content: space-between;
  padding-top: 96px;
  margin-left: 120px;
  margin-right: 120px;
  padding-bottom: 280px;
}

.footer-text {
  color: #000003;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-text {
  font-size: 32px;
}

.regular-text {
  font-size: 24px;
}


@media (max-width: 768px) {
  .footer-headers-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 40px;
    padding-bottom: 74px;
  }

  .grid-3-cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .col-1 {
    grid-column: 1 / -1; /* full-width row */
  }

  .header-text {
    font-size: 18px;
  }

  .regular-text {
    font-size: 14px;
  }
}
