.page-container {
  margin-right: 120px;
  margin-left: 140px;
  margin-top: 96px;
}

.container {
  display: flex;
  margin-bottom: 96px;
}

.text-margin {
  margin-left: 180px;
}

.text-font-size {
  font-size: 24px;
}

.photos-container {
  display: flex;
  gap: 20px;
}

.last-big-image {
  margin-bottom: 124px;
  width: 100%;
  max-width: 980px;
  height: auto;
}

.dublis-image {
  width: calc(250 / 1920 * 100vw);
}

.btn-rounded {
  display: none;
}

.image {
  max-width: 530px;
  width: 33.33%;
  height: auto;
}

@media (max-width: 768px) {
  .page-container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 32px;
  }

  .container {
    display: block;
    margin-bottom: 48px;
  }

  .text-font-size {
    font-size: 12px;
  }

  .photos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .photos-container > :nth-child(n + 3) {
    grid-column: 1 / -1;
  }

  .dublis-image {
    width: 154px;
    height: 122px;
    margin-bottom: 24px;
  }

  .text-margin {
    margin-left: 0;
  }

  .last-big-image {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
  }

  .image {
    width: 100%;
    height: 100%;
    max-width: 100%;
  }

  .mt-48 {
    margin-top: 12px;
  }

  .btn-rounded {
    display: inline-block;
    margin-bottom: 124px;
    padding: 12px 20px;
    background: #e85102;
    color: #000000;
    border: 1px solid #ffffff25;
    border-radius: 36px;
    font-size: 10px;
  }
}
