<div class="page">
  <div class="container">
    <img src="clients/vaisiai_logo_kitas.svg" alt="" class="dublis-image">
    <div class="fs-24 regular text-margin">
      “Vaisių amžius”. Created the logo, brand identity, and a full set of visual adaptations. Developed the color palette,
      typography, and layout system to ensure a cohesive and visually engaging identity.
      The project was completed for academic studies, focusing on clear communication, consistency, and modern brand expression.
    </div>
  </div>
  <div class="photos-container">
    <img src="photos/vaisiai/vaisiai_2.png" alt="" class="rounded-24 image" width="530" height="530">
    <img src="photos/vaisiai/vaisiai_3.png" alt="" class="rounded-24 image" width="530" height="530">
    <img src="photos/vaisiai/vaisiai_4.png" alt="" class="rounded-24 image" width="530" height="530">
  </div>
  <img src="photos/vaisiai/vaisiai_1.png" alt="" class="rounded-24 mt-48 last-image">
  <div class="flex-center-container">
    <button class="btn-rounded regular" routerLink="/portfolio">Back</button>
  </div>
</div>

