<div class="page-container">
  <div class="container">
    <img src="public/clients/aidai.svg" alt="" class="dublis-image">
    <div class="text-font-size regular text-margin">
      Event visualization and advertising campaign. Developed a complete visual concept for the event, including key visuals, promotional materials, social media graphics, and layout design.
      The project was completed for academic studies, focusing on clear communication, cohesive visual style, and effective promotion across different platforms.
    </div>
  </div>
  <div class="photos-container">
    <img src="public/photos/aidai/aidai_3.png" alt="" class="rounded-corners image">
    <img src="public/photos/aidai/aidai_1.png" alt="" class="rounded-corners image">
    <img src="public/photos/aidai/aidai_4.png" alt="" class="rounded-corners image">
  </div>
  <img src="public/photos/aidai/aidai_2.png" alt="" class="rounded-corners mt-48 last-big-image">
  <div class="flex-center-container">
    <button class="btn-rounded regular" routerLink="/portfolio">Back</button>
  </div>
</div>

