<div class="main-container">
  <div class="bold orange" [ngClass]="screenWidth() > 767 ? 'fs-64' : 'fs-24'">
    Portfolio
  </div>
  <div class="mt-24 regular" [ngClass]="screenWidth() > 767 ? 'fs-32' : 'fs-14'">
    A selection of my latest client, academic, and personal design projects
  </div>


  <div class="mt-96 two-column-card-container">
    <div class="pointer" routerLink="/dublis">
      <img src="public/photos/dublis/dublis_portfolio.png" alt="" class="rounded-corners image">
    </div>
    <div class="information-flex-with-redirect">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        DUBLIS restaurant. Created the logo, brand identity, and the complete visual branding for the restaurant.
      </span>
      <hr class="full-line">
      @if (screenWidth() > 768) {
        <span class="fs-20">
        2025<span class="orange">/</span>02
      </span>
        <div class="more-info-container">
          <img src="public/small_vector.png" alt="">
          <a class="fs-20 more-info-button" routerLink="/dublis">More info about the project</a>
        </div>
      } @else {
        <div class="container-inline-flex">
          <span class="fs-12">
            2025<span class="orange">/</span>02
          </span>
          <div class="more-info-container">
            <span class="orange">/</span>
            <a class="fs-12 more-info-button" routerLink="/dublis">Tap for more info</a>
          </div>
        </div>
      }
    </div>
  </div>


  <div class="mt-48 three-column-card-container">
    @if (screenWidth() > 768) {
      <div class="information-flex">
      <span class="fs-24 regular">
        “Mobilaus gaterio paslaugos”. Created the logo and brand identity.
      </span>
        <hr class="full-line">
        <span class="fs-20">
        2025<span class="orange">/</span>10
      </span>
      </div>
      <div>
        <img src="public/photos/gateris/gateris_1.png" alt="" class="rounded-corners image">
      </div>
      <div>
        <img src="public/photos/gateris/gateris_2.png" alt="" class="rounded-corners image">
      </div>
    } @else {
      <div class="item">
        <img src="public/photos/gateris/gateris_1.png" alt="" class="rounded-corners image">
      </div>
      <div class="item">
        <img src="public/photos/gateris/gateris_2.png" alt="" class="rounded-corners image">
      </div>
      <div class="information-flex last">
        <span class="fs-14 regular">
          “Mobilaus gaterio paslaugos”. Created the logo and brand identity.
        </span>
        <hr class="full-line">
        <span class="fs-12">
          2025<span class="orange">/</span>10
        </span>
      </div>
    }
  </div>


  <div class="mt-48 two-column-card-container-right">
    <div class="information-flex-with-redirect">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        “Vaisių amžius”. Created the logo, brand identity, and its adaptations. Project completed for academic studies.
      </span>
      <hr class="full-line">
      @if (screenWidth() > 768) {
        <span class="fs-20">
        2025<span class="orange">/</span>11
      </span>
        <div class="more-info-container">
          <img src="public/small_vector.png" alt="">
          <a class="fs-20 more-info-button" routerLink="/vaisiai">More info about the project</a>
        </div>
      } @else {
        <div class="container-inline-flex">
          <span class="fs-12">
            2025<span class="orange">/</span>11
          </span>
          <div class="more-info-container">
            <span class="orange">/</span>
            <a class="fs-12 more-info-button" routerLink="/vaisiai">Tap for more info</a>
          </div>
        </div>
      }
    </div>
    <div class="pointer" routerLink="/vaisiai">
      <img src="public/photos/vaisiai.png" alt="" class="rounded-corners image">
    </div>
  </div>


  <div class="mt-48 three-column-card-container-left">
    <div class="item">
      <img src="public/photos/basketnews/bnews_1.png" alt="" class="rounded-corners image">
    </div>
    <div class="item">
      <img src="public/photos/basketnews/bnews_2.png" alt="" class="rounded-corners image">
    </div>
    <div class="information-flex last">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        Created a T-shirt design commissioned by “BasketNews”.
      </span>
      <hr class="full-line">
      <span [ngClass]="screenWidth() > 767 ? 'fs-20' : 'fs-12'">
        2025<span class="orange">/</span>10
      </span>
    </div>
  </div>


  <div class="mt-48 two-column-card-container-right">
    <div class="information-flex">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        “Skin Elegance”. Created the logo and brand identity.
      </span>
      <hr class="full-line">
      <span [ngClass]="screenWidth() > 767 ? 'fs-20' : 'fs-12'">
        2025<span class="orange">/</span>10
      </span>
    </div>
    <div class="">
      <img src="public/photos/skin.png" alt="" class="rounded-corners image">
    </div>
  </div>
</div>

<!--  Phones-->
@if (screenWidth() > 768) {
  <div class="mt-48 phones-container">
    <div class="main-container">
      <img src="public/photos/Phones-horizontal.png" alt="" class="rounded-corners image">
    </div>
  </div>
} @else {
  <div class="mt-48 phones-container">
    <div class="main-container">
      <div class="phones-wrapper">
        <img src="public/photos/phones/phone_1.png" alt="" class="rounded-corners phones-image">
        <img src="public/photos/phones/phone_2.png" alt="" class="rounded-corners phones-image">
        <img src="public/photos/phones/phone_3.png" alt="" class="rounded-corners phones-image">
      </div>
      <div class="phones-wrapper mt-12">
        <img src="public/photos/phones/phone_4.png" alt="" class="rounded-corners phones-image">
        <img src="public/photos/phones/phone_5.png" alt="" class="rounded-corners phones-image">
        <img src="public/photos/phones/phone_6.png" alt="" class="rounded-corners phones-image">
      </div>
      <div class="phones-wrapper mt-12">
        <img src="public/photos/phones/phone_7.png" alt="" class="rounded-corners phones-image">
        <img src="public/photos/phones/phone_8.png" alt="" class="rounded-corners phones-image">
        <img src="public/photos/phones/phone_9.png" alt="" class="rounded-corners phones-image">
      </div>
    </div>
  </div>
}

<div class="main-container" [ngClass]="screenWidth() > 767 ? 'mt-48' : 'mt-12'">
  <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
    These social media posts reinforce the brand’s identity, with each project reflecting the company’s distinct visual style and delivering clear, engaging content.
  </span>

  <div class="three-images-container mt-48">
    @if (screenWidth() > 768) {
      <img src="public/photos/poster/poster_1.png" alt="" class="rounded-corners smaller-image">
    }
    <img src="public/photos/poster/poster_2.png" alt="" class="rounded-corners smaller-image">
    <img src="public/photos/poster/poster_3.jpg" alt="" class="rounded-corners smaller-image">
  </div>

  <div [ngClass]="screenWidth() > 767 ? 'mt-48' : 'mt-12'">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
      Various types of posters: social media visuals, promotional designs, informational layouts, and
        themed creative posters. Developed in different styles to meet specific communication and branding needs.
      </span>
  </div>

  <div class="three-images-container mt-48">
    @if (screenWidth() > 768) {
      <img src="public/photos/kupiskio/kupiskio_1.png" alt="" class="rounded-corners smaller-image">
    }
    <img src="public/photos/kupiskio/kupiskio_2.png" alt="" class="rounded-corners smaller-image">
    <img src="public/photos/kupiskio/kupiskio_3.png" alt="" class="rounded-corners smaller-image">
  </div>

  <div class="container-flex" [ngClass]="screenWidth() > 767 ? 'mt-48' : 'mt-12'">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        Created the logo and brand identity guidelines.<br> Project developed for a competition.
      </span>
    @if (screenWidth() > 768) {
      <img src="public/white_line.png" alt="" class="rounded-corners">
    } @else {
      <hr class="full-line">
    }
    <span [ngClass]="screenWidth() > 767 ? 'fs-20' : 'fs-12'">
        2025<span class="orange">/</span>09
      </span>
  </div>


  <div class="mt-48 two-column-card-container">
    <div class="pointer" routerLink="/aidai">
      <img src="public/photos/aidai.png" alt="" class="rounded-corners image">
    </div>
    <div class="information-flex-with-redirect">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        Event visualization and advertising campaign. Project completed for academic studies.
      </span>
      <hr class="full-line">
      @if (screenWidth() > 768) {
        <span class="fs-20">
        2025<span class="orange">/</span>10
      </span>
        <div class="more-info-container">
          <img src="public/small_vector.png" alt="">
          <a class="fs-20 more-info-button" routerLink="/aidai">More info about the project</a>
        </div>
      } @else {
        <div class="container-inline-flex">
      <span class="fs-12">
        2025<span class="orange">/</span>10
      </span>
          <div class="more-info-container">
            <span class="orange">/</span>
            <a class="fs-12 more-info-button" routerLink="/aidai">Tap for more info</a>
          </div>
        </div>
      }
    </div>
  </div>

  <div class="three-images-container mt-48">
    @if (screenWidth() > 768) {
      <img src="public/photos/mobile/mobile_3.png" alt="" class="rounded-corners smaller-image">
    }
    <img src="public/photos/mobile/mobile_2.png" alt="" class="rounded-corners smaller-image">
    <img src="public/photos/mobile/mobile_1.png" alt="" class="rounded-corners smaller-image">
  </div>

  <div class="margin-last-text" [ngClass]="screenWidth() > 767 ? 'mt-48' : 'mt-12'">
      <span class="regular" [ngClass]="screenWidth() > 767 ? 'fs-24' : 'fs-14'">
        Website designs and social media visuals. Crafted to deliver clear, functional,
        and visually engaging layouts adapted to various platforms and communication goals.
      </span>
    @if (screenWidth() < 769) {
      <hr class="full-line">
      <span class="fs-12">
        2025<span class="orange">/</span>11
      </span>
      <span class="fs-12">
        2025<span class="orange">/</span>04
      </span>
    }
  </div>

</div>
