.main-container {
  margin-right: 120px;
  margin-left: 120px;
}

.two-column-card-container {
  display: grid;
  grid-template-columns: 66.25% 33.75%;
  gap: 20px;
}

.two-column-card-container-right {
  display: grid;
  grid-template-columns: 33.75% 68.25%;
  gap: 20px;
}

.three-column-card-container {
  display: grid;
  grid-template-columns: 33.75% 33.125% 33.125%;
  gap: 20px;
}

.three-column-card-container-left {
  display: grid;
  grid-template-columns: 33.125% 33.125% 33.75%;
  gap: 20px;
}

.full-line {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  background-color: #F6F6FF;
  border-top: 1px solid #F6F6FF;
}

.information-flex {
  display: flex;
  flex-direction: column;
}

.information-flex-with-redirect {
  display: flex;
  flex-direction: column;
}

.information-flex-with-redirect > :last-child {
  margin-top: auto;
}

.image {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.image:hover {
  filter: grayscale(0%);
}

.smaller-image {
  width: 33.33%;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.smaller-image:hover {
  filter: grayscale(0%);
}

.more-info-container {
  display: flex;
  align-items: center;
}

.more-info-button {
  margin-left: 12px;
  cursor: pointer;
  text-decoration: none;
  color: #f5efff;
}

.more-info-button:hover {
  color: #e85102;
}

.phones-container {
  background-image: url('/public/Apvalus.png'), url('/public/Apvalus_Rotated.png');
  background-repeat: no-repeat;
  background-size: 100% calc(50% - 62px), 100% calc(50% - 62px);
  background-position: center top, center bottom;
}

.three-images-container {
  display: flex;
  gap: 20px;
}

.container-flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.margin-last-text {
  margin-bottom: 124px;
}

.text-width {
  width: 70%;
  display: flex;
}

@media (max-width: 768px) {
  .main-container {
    margin-right: 20px;
    margin-left: 20px;
  }

  .more-info-button {
    margin-left: 4px;
  }

  .full-line {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .two-column-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 48px;
  }

  .container-inline-flex {
    display: flex;
    justify-content: space-between;
  }

  .three-column-card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    flex: 0 0 46%;
  }

  .last {
    flex: 0 0 100%;
  }

  .two-column-card-container-right {
    display: flex;
    flex-direction: column-reverse;
  }

  .image {
    filter: grayscale(0%);
  }

  .three-column-card-container-left{
    display: flex;
    flex-wrap: wrap;
  }

  .smaller-image {
    width: 48%;
    filter: grayscale(0%);
  }

  .container-flex {
    flex-wrap: wrap;
    gap: 0;
  }

  .phones-container {
    background-image: url('/public/Apvalus_Rotated.png'), url('/public/Apvalus.png');
    background-repeat: no-repeat;
    background-size: 100% calc(50% - 62px), 100% calc(50% - 62px);
    background-position: center top, center bottom;
  }

  .phones-image {
    width: 33%;
    height: 100%;
  }

  .phones-wrapper {
    display: flex;
    gap: 8px;
  }
}
