<div class="founder-grid founder-margins">
  <div class="left">
    <div class="regular fs-24 orange">{{ 'contacts.founderLabel' | t }}</div>
    <div class="semi-bold fs-48 text1">{{ 'contacts.introTitle' | t }}</div>
    <div class="fs-24 regular text2 focus-text">{{ 'contacts.introDescription' | t }}</div>
    <div class="regular orange fs-24 text3">{{ 'contacts.contactsLabel' | t }}</div>
    <div class="fs-24 medium text4">
      <div class="contacts-line-container">
        <img src="public/mail.svg" alt="" class="icon mail-icon">
        cuone.studio&#64;gmail.com
      </div>
    </div>
    <div class="fs-24 medium mt-12">
      <div class="contacts-line-container">
        <img src="public/fb.svg" alt="" class="icon fb-icon">
        Kipras Maigys
      </div>
    </div>
    <div class="text5 orange regular fs-24">{{ 'contacts.followLabel' | t }}</div>
    <div class="contacts-line-container text6">
      <img src="public/ig_baltas.svg" alt="" class="icon mail-icon">
      <a class="medium fs-24 ig-text" href="https://www.instagram.com/cu.one.studio/" target="_blank">cu.one.studio</a>
    </div>
  </div>
  <div class="right">
    <img src="public/photos/profile.png" alt="" class="profile-rounded-corners image">
    <div class="mt-24 regular fs-24">Kipras Maigys</div>
  </div>
</div>

<div class="experience-container">
  <div class="medium fs-32">{{ 'contacts.experienceTitle' | t }}</div>
  <div class="container-with-image mt-24">
    <img src="public/Vector.png" alt="" class="margin-photo slash">
    <div class="fs-24 regular">
      {{ 'contacts.experienceDescription' | t }}
    </div>
  </div>
</div>

<div class="studio-container">
  <div class="medium fs-32">{{ 'contacts.studioNameTitle' | t }}</div>
  <div class="container-with-image mt-24">
    <img src="public/Vector.png" alt="" class="margin-photo slash">
    <div class="fs-24 regular">
      {{ 'contacts.studioNameDescription' | t }}
    </div>
  </div>
</div>

<img src="public/Apvalus.png" alt="" class="rotated-image">

<div class="flex-center-container">
  <div class="semi-bold fs-64">{{ 'contacts.discoverTitle' | t }}</div>
  <button class="btn-rounded regular" routerLink="/portfolio">{{ 'contacts.portfolioButton' | t }}</button>
</div>
