<div class="founder-grid founder-margins">
  <div class="left">
    <div class="regular fs-24 orange">Studio Founder</div>
    <div class="semi-bold fs-48 text1">I’m a graphic designer specializing in branding, logos, and web and
      promotional visuals.
    </div>
    <div class="fs-24 regular text2 focus-text">My focus is on creating clear, memorable and purpose-driven design
      solutions that help brands grow and
      communicate effectively.
      I work efficiently, responsibly, and with a strong commitment
      to understanding each client’s goals – turning ideas into visuals that make an impact.
    </div>
    <div class="regular orange fs-24 text3">Contacts:</div>
    <div class="fs-24 medium text4">
      <div class="contacts-line-container">
        <img src="public/mail.svg" alt="" class="icon mail-icon">
        cuone.studio&#64;gmail.com
      </div>

    </div>
    <div class="fs-24 medium mt-12">
      <div class="contacts-line-container">
        <img src="public/fb.svg" alt="" class="icon fb-icon">
        Kipras Maigys
      </div>

    </div>
    <div class="text5 orange regular fs-24">Follow:</div>
    <div class="contacts-line-container text6">
      <img src="public/ig_baltas.svg" alt="" class="icon mail-icon">
      <a class="medium fs-24 ig-text" href="https://www.instagram.com/cu.one.studio/" target=”_blank”>cu.one.studio</a>
    </div>
  </div>
  <div class="right">
    <img src="public/photos/profile.png" alt="" class="rounded-corners image">
    <div class="mt-24 regular fs-24">Kipras Maigys</div>
  </div>
</div>

<div class="experience-container">
  <div class="medium fs-32">Experience</div>
  <div class="container-with-image mt-24">
    <img src="public/Vector.png" alt="" class="margin-photo slash">
    <div class="fs-24 regular">
      I have around 3 years of experience in graphic design, working on logo creation, brand identity,
      promotional graphics, posters, 3D modeling, animation, and web design layouts. Since 2023,
      I’ve been actively developing and showcasing my design work on my account &#64;kipras_design,
      constantly improving my style and technical skills.
    </div>
  </div>
</div>

<div class="studio-container">
  <div class="medium fs-32">Studio name</div>
  <div class="container-with-image mt-24">
    <img src="public/Vector.png" alt="" class="margin-photo slash">
    <div class="fs-24 regular">
      CU/ONE brings together two symbolic origins: CU stands for copper – the first metal shaped by human hands,
      symbolizing craftsmanship,
      creative foundations, and reflecting the Latin origin of the name Kipras.
      This also inspired the copper-toned orange used in the identity.
      ONE represents the first spark of creation. Together, they express the studio’s link to ancient craft, personal
      roots, and new creative beginnings.
    </div>
  </div>
</div>

<img src="public/Apvalus.png" alt="" class="rotated-image">

<div class="flex-center-container">
  <div class="semi-bold fs-64">Discover my work</div>
  <button class="btn-rounded regular" routerLink="/portfolio">Portfolio</button>
</div>
