.page-container {
  margin-right: 120px;
  margin-left: 140px;
  margin-top: 96px;
}

.container {
  display: flex;
  margin-bottom: 96px;
}

.text-margin {
  margin-left: 38px;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.last-big-image {
  margin-bottom: 124px;
}

.dublis-image {
  width: calc(506 / 1920 * 100vw);
}

.btn-rounded {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: block;
  }

  .photos-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .photos-container > :nth-child(n + 3) {
    grid-column: 1 / -1;
  }

  .page-container {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 32px;
  }

  .dublis-image {
    width: 154px;
    height: 122px;
    margin-bottom: 24px;
  }

  .text-margin {
    margin-left: 0;
  }

  .last-big-image {
    width: 100%;
    height: 100%;
    margin-bottom: 24px;
  }

  .image {
    width: 100%;
    height: 100%;
  }

  .mt-48 {
    margin-top: 12px;
  }

  .btn-rounded {
    display: inline-block;
    margin-bottom: 304px;
    padding: 20px 40px;
    background: #e85102;
    color: #000000;
    border: 1px solid #ffffff25;
    border-radius: 36px;
    font-size: 20px;
  }
}
