<div class="page-container">
  <div class="container">
    <img src="public/clients/dublis-hover.svg" alt="" class="dublis-image">
    <div class="text-font-size regular text-margin">
      DUBLIS restaurant. Created the logo, brand identity, and the complete visual branding for the restaurant,
      including visual direction, color system, typography,
      and design assets used across menus, signage, and promotional materials.
    </div>
  </div>
  <div class="photos-container">
    <img src="public/photos/dublis/dublis_4.png" alt="" class="rounded-corners image">
    <img src="public/photos/dublis/dublis_3.png" alt="" class="rounded-corners image">
    <img src="public/photos/dublis/dublis_2.png" alt="" class="rounded-corners image">
  </div>
  <img src="public/photos/dublis/dublis_1.png" alt="" class="rounded-corners mt-48 last-big-image">
  <div class="flex-center-container">
    <button class="btn-rounded regular" routerLink="/portfolio">Back</button>
  </div>
</div>

