<div class="main-text-container">
  <div class="shaping-ideas-text semi-bold">
    {{ 'home.heroTitle' | t }}
  </div>
  <div class="brand-identity-text regular">
    {{ 'home.heroDescription' | t }}
  </div>
  <button class="btn-rounded semi-bold" routerLink="/contacts">{{ 'home.contactsButton' | t }}</button>
</div>

@if (screenWidth() > 767) {
  <div class="ideas-container">
    <div class="flex-center-container">
      <div class="ideas-container-text semi-bold">{{ 'home.ideasTitle' | t }}</div>
    </div>
    <div class="ideas-container-parent2">
      <div class="regular fs-24">{{ 'home.ideas.aesthetics' | t }}</div>
      <div class="regular fs-24">{{ 'home.ideas.story' | t }}</div>
      <div class="regular fs-24">{{ 'home.ideas.identity' | t }}</div>
      <div class="regular fs-24">{{ 'home.ideas.originality' | t }}</div>
      <div class="regular fs-24">{{ 'home.ideas.precision' | t }}</div>
      <div class="regular fs-24">{{ 'home.ideas.connection' | t }}</div>
    </div>
  </div>
} @else {
  <div>
    <img src="public/Kampuotas.png" alt="" class="mobile-kampuotas">
    <div class="flex-center-container">
      <div class="ideas-container-text semi-bold">{{ 'home.ideasTitle' | t }}</div>
    </div>
    <div class="mobile-ideas-container">
      <div class="regular mobile-text">{{ 'home.ideas.aesthetics' | t }}</div>
      <div class="regular mobile-text">{{ 'home.ideas.story' | t }}</div>
      <div class="regular mobile-text">{{ 'home.ideas.identity' | t }}</div>
      <div class="regular mobile-text">{{ 'home.ideas.originality' | t }}</div>
      <div class="regular mobile-text">{{ 'home.ideas.precision' | t }}</div>
      <div class="regular mobile-text">{{ 'home.ideas.connection' | t }}</div>
    </div>
  </div>
}


<div class="projects-text regular">{{ 'home.projects' | t }}</div>

<app-carousel></app-carousel>

<img src="public/Apvalus.png" alt="" class="responsive-img">

<div class="container-studio mt-84">
  <div class="flex-center-container semi-bold text-center studio-title-text" [ngClass]="screenWidth() > 767 ? 'fs-64' : 'fs-24'">
    {{ 'home.studioTitle' | t }}
  </div>
  <div class="flex-center-container regular flex-wrap" [ngClass]="screenWidth() > 767 ? 'fs-36 mt-24' : 'fs-14 mt-12'">
    <span class="text-center">
      {{ 'home.studioDescription' | t }}
    </span>
  </div>
</div>

<img src="public/Apvalus.png" alt="" class="responsive-img rotated-image">

<div class="projects-text clients-text regular">Klientai:</div>

@if (screenWidth() > 767) {
  <div class="clients-grid">
    @for (img of images; track $index) {
      <img
        [src]="img.normal"
        alt=""
        width="162px"
      />
    }
  </div>
} @else {
  <div class="clients-grid">
    @for (img of mobileImages; track $index) {
      <img
        [src]="img.normal"
        [width]="img.width"
      />
    }
  </div>
}
