<div class="container">
  <div class="shaping-ideas-text">
    Shaping your ideas into something real
  </div>
  <div class="brand-identity-text">
    From brand identity to digital visuals – CU/ONE blends strategy, aesthetics, and innovation.
  </div>
  <button class="btn-rounded">Contacts</button>
</div>

<div class="container2">
  <div class="container2-parent">
    <div class="container2-text">Shaping your ideas into:</div>
  </div>
  <div class="container2-parent2">
    <div>Aesthetics</div>
    <div>Story</div>
    <div>Identity</div>
    <div>Originality</div>
    <div>Precision</div>
    <div>Connection</div>
  </div>
</div>

<div class="container2-parent">
  <div class="projects-text">Projects</div>
</div>
