.carousel {}

/* CONTROLS */
.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}

/* TRACK */
.carousel-track {
  position: relative;
  height: 900px;
  overflow: hidden;
}

/* CARD */
.carousel-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 570px;
  height: 700px;
  border-radius: 16px;
  overflow: hidden;
  transform: translateY(-50%);
  opacity: 0;
}

/* VIDEO */
.video-container {
  width: 456px;
  height: 82%;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}

.carousel-card video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* TEXT */
.carousel-caption {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 16px;
  color: white;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

/* POSITIONS */
.carousel-card.center {
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  z-index: 3;
  transition: all 0.6s ease;
}

.carousel-card.left {
  left: 20%;
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 0.6;
  z-index: 2;
  transition: all 0.6s ease;
}

.carousel-card.right {
  left: 80%;
  transform: translate(-50%, -50%) scale(0.85);
  opacity: 0.6;
  z-index: 2;
  transition: all 0.6s ease;
}

.carousel-card.hidden {
  pointer-events: none;
}

.grayscale {
  filter: grayscale(1);
}

.btn-rounded {
  margin-top: 32px;
  padding: 20px 40px;
  background: #e85102;
  color: #000000;
  border: 1px solid #ffffff25;
  border-radius: 36px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.5s ease, background-color 0.5s ease;
}

.disabled-button {
  background: #333333;
}

@media (max-width: 768px) {
  .btn-rounded {
    margin-top: 12px;
    padding: 10px 20px;
  }

  .carousel-track {
    height: 620px;
  }

  .carousel-card {
    height: 620px;
  }

  .video-container {
    width: 400px;
  }
}
