<div class="carousel">

  <!-- CONTROLS -->
  <div class="carousel-controls">
    <button class="btn-rounded regular" (click)="prev()" [ngClass]="this.currentIndex === 0 ? 'disabled-button' : ''">
      <img src="public/arrow_left.svg">
    </button>
    <button class="btn-rounded regular" (click)="next()" [ngClass]="this.currentIndex === this.items.length - 1 ? 'disabled-button' : ''">
      <img src="public/arrow_right.svg">
    </button>
  </div>

  <!-- TRACK -->
  <div class="carousel-track">
    <div
      class="carousel-card"
      *ngFor="let item of items; let i = index"
      [ngClass]="getPosition(i)"
    >

      <!-- VIDEO -->
      <video
        #videoEl
        [src]="item.video"
        muted
        playsinline
        preload="metadata"
        [ngClass]="this.currentIndex !== i ? 'grayscale' : ''"
        class="rounded-corners"
      ></video>

      <!-- TEXT -->
      <div class="carousel-caption">
        <div class="fs-36 regular">
          {{ item.title }}
        </div>
      </div>

    </div>
  </div>

</div>
