<div class="carousel">
  <div class="carousel-track">
    @if (hasPrev) {
      <button class="carousel-arrow carousel-arrow-left" type="button" (click)="prev()" aria-label="Previous service">
        <img src="public/carousel-arrow-left.svg" alt="">
      </button>
    }

    <div
      class="carousel-card"
      *ngFor="let item of items; let i = index"
      [ngClass]="getPosition(i)"
    >
      <div class="video-container">
        <img
          [src]="item.image"
          [ngClass]="!isCenter(i) ? 'grayscale' : ''"
          class="carousel-image rounded-corners"
          alt=""
        >
      </div>

      <div class="carousel-caption">
        <div class="fs-36 regular">
          {{ item.titleKey | t }}
        </div>
      </div>
    </div>

    @if (hasNext) {
      <button class="carousel-arrow carousel-arrow-right" type="button" (click)="next()" aria-label="Next service">
        <img src="public/carousel-arrow-right.svg" alt="">
      </button>
    }
  </div>
</div>
